<div class="row">
    <div class="container-xl mt-5">
        <div class="col-12 card border-0 rounded-3 p-5" style="background-color: #1b43c6;">
            <div style="color: #fff;" class="text-end">
                <h1 style="font-size: 5rem;">Hola,</h1>
                <h2 style="font-size: 5rem;">Bienvenido</h2>
            </div>
            <img src="../../../../../assets/undraw_credit_card_payment_re_o911.svg" alt="Credit Card Payment"
                width="500" />        
        </div>
    </div>
</div>