<header class="mb-5">
    <div class="header-page pt-5">
        <h1 class="fs-1">Transacciones</h1>
    </div>
    <div class="sub-header">
        <h6 class="fs-6 text-muted">Transacciones ° Listado</h6>
    </div>
</header>

<div class="card border-0 rounded-3">
    <!--<div class="card-header border-0 pa-4 pt-4 text-end">
        <button class="btn btn-success btn-lg" routerLink="/category/manage">Agregar</button>
    </div>-->
    <div class="card-body pa-4 pt-4 pb-5">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transactions of transaction; index as i;">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ transactions.cantidad | currency: 'DOP'}}</td>
                    <td>{{ transactions.fecha | date: 'MMMM d, y' | titlecase }}</td>
                    <td>
                        <!--  <a href="#" [routerLink]="['/category/manage/', transactions.id]">Editar</a>
                <button class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyCentered(content, transactions.id)">Eliminar</button>-->
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <!--<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>-->
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="deleteTransaction(transactionId)">Eliminar</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>