<!-- your navs bound to current route fragments 
<ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">
    <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
        <a ngbNavLink routerLink="." [fragment]="link.fragment">{{ link.title }}</a>
    </li>
</ul>

 and an actual outlet elsewhere -->


<div class="d-flex">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
        <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
            <a ngbNavLink routerLink=".">{{ link.title }}</a>
            <ng-template ngbNavContent></ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>

<pre>Active: {{ active }}</pre>

<!--<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
        <li ngbNavItem="top">
            <a ngbNavLink>Top</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>
        <li ngbNavItem="middle">
            <a ngbNavLink>Middle</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>
        <li ngbNavItem="bottom">
            <a ngbNavLink>Bottom</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>
    </ul>-->