<!--SIDEBAR-->
<div>
    <div>
        <nav>
            <div class="">Hola, Bienvenido</div>
            <ul class="nav-pills" ngbNav #nav="ngbNav" [(activeId)]="active" orientation="vertical">
                <li class="nav-item" [ngbNavItem]="link.fragment" *ngFor="let link of links">
                    <a class="nav-link" ngbNavLink [routerLink]="link.link"><span class=""></span>{{ link.title }}</a>
                    <ng-template ngbNavContent></ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="ms-4"></div>
        </nav>
        <pre>Active: {{ active }}</pre>
    </div>
</div>

<router-outlet></router-outlet>