<!--SIDEBAR-->
<div class="container-fluid">
    <div class="row">
        <nav class="col-2">
            <div class="">Hola, Bienvenido</div>
            <ul class="nav-pills" ngbNav #nav="ngbNav" [(activeId)]="active" orientation="vertical">
                <li class="nav-item" [ngbNavItem]="link.fragment" *ngFor="let link of links">
                    <a class="nav-link" ngbNavLink routerLink="."><span class="me-5"></span>{{ link.title }}</a>
                    <ng-template ngbNavContent></ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="ms-4"></div>
        </nav>
        <main class="col-10" style="background-color: #dfe7ea;">
            no se que poner /pulgar arriba
            <pre>Active: {{ active }}</pre>
        </main>
    </div>
</div>